#upper {
  width: 99vw;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

#lower {
  width: 99vw;
  height: 25vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, auto);
}

#title {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 25vw;
  height: 30vh;
  background-color: rgb(235, 235, 235);
  align-items: center;
  border-radius: 1vh;
}

#titletext {
  margin: 2vw;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: "Franklin Gothic Medium";
}

#post {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40vw;
  height: 50vh;
  background-color: rgb(235, 235, 235);
  align-items: center;
  text-align: left;
  border-radius: 1vh;
  margin: 2vw;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(200, 200, 200) rgb(235, 235, 235);
}

#posttext {
  white-space: pre-wrap;
  margin: 2vw;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
}

#score {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(1, auto);
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  width: 25vw;
  height: 30vh;
  background-color: rgb(235, 235, 235);
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-radius: 1vh;
}

#scorenum {
  color: rgb(0, 0, 0);
  font-size: 90px;
  font-family: "Franklin Gothic Medium";
}

#scoretext {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: "Franklin Gothic Medium";
}

.judgement {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 12vw;
  height: 12vh;
  background-color: rgb(235, 235, 235);
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-radius: 4.5vh;
  font-size: 28px;
  font-family: "Franklin Gothic Medium";
  margin: 3.5vw;
}
